html{overflow-y: scroll}
body{margin:0 0 0 0}
.fnt_12{font-size:12}
.fnt_16{font-size:16}
.fnts_25{font-size:25}
.vtop{vertical-align: top}
.cg_f15{color:grey; font-size:15}
.cg_pt21{color:grey; padding-top:21}
.f15_cw{font-size:15; color:white;}
.unselectable{
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.MathJax:focus, .mjx-chtml:focus, .MathJax_SVG:focus {
	outline:none;
	padding: 2 2 2 2;
	border:1px solid #f2f2f2;
}
.navbar{
	height:30;
	width:100%;
	position:fixed;
	margin:0 0 0 0;
	font-family:'Avenir','light';
	background:linear-gradient(lightgrey, grey);
}
.w3-content{position:fixed; width:100%; height:100%}
.mySlides{
	width:100%;
	height:100%;
	margin:30 0 0 0;
	padding:0 0 0 0;
	border-collapse: collapse
}
.T_page{
	vertical-align:top; 
	padding:10 10 0 10; 
	width:50%; height:100%;
	background-repeat:no-repeat;
	background:linear-gradient(lightgrey, grey);
}
.T_field{
	color:grey;
	opacity:.5;
	font-size:18px;  
	cursor:default;
	padding:14 0 14 40;
	font-family:'Avenir', 'light'; 
	background:linear-gradient(white,#E5E7E9);
}
.sols_by{
	font-size:14;
	color:#f2f2f2;
	font-weight:500;
	padding:50 0 0 40;
	font-family:'Avenir';
}
.lic_tag{
	color:#aaa;
	font-size:13;
	font-weight:500;
	padding:20 0 0 40;
	font-family:'Avenir';
}
.tc_page{
	width:50%; 
	height: 100%;
	cursor:default;
	padding:0 0 0 0;
	vertical-align:top;
}
.t_contents {
	color:grey;
    font-size:15;
    padding:0 0 10 40;
    height:92.8% !important;
    overflow:scroll !important;
    font-family:'Avenir', 'light';
}
.searchf_0{width:100%; background:#f2f2f2}
.search_res{
	color:grey;
	font-size:14;
	margin:0 6 0 0;
	font-family:'Avenir', 'light';
}
.searchf_n{padding:12 0 0 80}
.sres_n{
	font-size:14;
	margin:0 6 0 0;
	font-family:'Avenir', 'light'
}
.pblm_page{ 
	width:50%;
	height:100%;
	vertical-align:top;
}
.pp_head_n{
	width:100%;
	font-size:18;
	font-family:'Avenir', 'light';
	padding:10 0 10 20; color:#aaa; 
}
.partnum_chptr_title{vertical-align:top; padding:11 0 0 1}
.sls_page{
	width:50%; 
	height:100%;
	padding:0 0 0 0;
	vertical-align:top;
	border-left:1px solid #f2f2f2
}
code{
	color:grey;
	font-size:13; 
	background: #FAF8F9;
	font-family: "SourceCodePro-Regular";
}
.code_block{
	color:grey;
	font-size:13;
	display:block;
	margin:10 0 10 0;
	padding:10 0 10 10;
	background:#FAF8F9;
	font-family: "SourceCodePro-Regular";
}
.infscrll {
	font-size:15; 
	padding:20 0 0 20;
    height: 93.1% !important;
    overflow:scroll !important;
}
.infscrll_dc {
    height:85.7% !important;
    overflow:scroll;
    font-size:15; 
    padding-top:20;
    margin:-8 0 0 0;
}
.field_5{padding:0 0 0 0; margin:0 0 0 0}
.f5_underline{border-bottom:1px solid #f2f2f2}
.field_6{
	color:#aaa;
	height:20; 
	width:100%; 
	margin:0 0 0 0; 
	padding:3 0 0 0; 
	background:#f2f2f2;
}
.field6_lind{
	float:left;
	margin:0 0 0 0;
}
.field6_rind{
	float:right; 
	margin:0 1 0 0;
	transform: scale(-1);
}
.field_7 {
	font-size:15; 
    margin:0 0 0 20;
    padding:5 0 0 0;
    height:84.9% !important;
    overflow:scroll !important;
}
canvas {
	outline: 0;
	}

a{color: white; text-decoration: none; font-size: 13}
a:hover{color: lightgrey}

a.pset{color: white; text-decoration: none; font-size: 14; font-weight: 500; cursor: default}
a.pset:hover{color: lightgrey}
a.pset0{color: white; text-decoration: none; font-size: 14; font-weight: 500; cursor: default}
a.pset1{color: white; text-decoration: none; font-size: 12; font-weight: 500}
a.pset1:hover{text-decoration: underline;cursor: default;}
a.pset_title{color: white; text-decoration: none; font-size: 18; font-weight: 500}
a.pset_title:hover{color:lightgrey; transition: color .1s;}

a.textnav{color: white; font-size: 18; font-weight: 500;}
a.textnav:hover{text-decoration: underline; cursor:default;}
a.textnav_f2{color: #aaa; font-size: 15; font-weight: 500;}
a.textnav_f2:hover{color: lightgrey; cursor:default; transition: color .2s;}
/*a:active{color: grey !important}*/
a.two{color:lightgrey; text-decoration: none}
a.two:hover{color: grey}
a.contents{
	color:grey; 
	font-family:'Avenir', 'light'; 
	font-size:15px;
}
a.contents:hover{text-decoration: underline; cursor: default;}
i.fa{font-size: 16px;}

input[type="submit"]{
	position: fixed; left: -10000000px;
}
input[type="search"]{
	color:#aaa;
	font-size: 13;
	text-align: right;
	font-family:'Avenir';
	-webkit-appearance:caret;
	border-radius: 0%!important;
}
.search_tp{
	color:#aaa;
	width:100%;
	font-size: 13;
	padding:0 2 0 0;
	text-align: right;
	font-family:'Avenir';
	background: transparent;
	-webkit-appearance:caret;
	border-radius: 0%!important;
}
.search{
	color:#aaa;
	width:85%;
	font-size: 13;
	padding:0 2 0 0;
	text-align: right;
	font-family:'Avenir';
	background: transparent;
	-webkit-appearance:caret;
	border-radius: 0%!important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	width: 100%;
	color:white;
    display: none;
    position: absolute;
    left: -52;
    top: 34;
    background: linear-gradient(#aaa, #D1D3D4);
    min-width: 1176;
    height: 750;
    padding: 7 52;
    margin:0 0 0 -2;  
	font-family:'Avenir', 'light'; 
	font-size:18; 
	cursor:default;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn{padding: 0 0 5 0; cursor: default;}

th{color:white; font-family:'Avenir', 'light'; font-weight:normal; text-align:left}

.tooltip {
	color: #aaa;
	font-size: 14;
	cursor: default;
    position: relative;
    display: inline-block;
    font-family: 'Avenir','light';
}

.tooltip .tooltiptext {
	font-family: 'Times','new Roman';
    visibility: hidden;
    width: 200;
    background-color: #f2f2f2;
    color: black;
    text-align: left;
    padding: 10 10;
    /*border: 1 solid #aaa;*/

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left: -53;
    top: 20;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    box-shadow: 5px 5px 10px #888888;
}
.tooltip:active .tooltiptext {
    visibility: visible;
    box-shadow: 5px 5px 10px #888888;
}

.vertical_line{height:210px; width:1px;background:#aaa; margin: 10 0 0 9}

hr.style-two {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, #aaa, #E5E7E9, #aaa);
}

#wall{
	float:left;
    width:100%;
    height:50px;
    margin:15 0 0 0;
    padding: 0 0 0 0;
}
.shelf{
	width:25%;
    float:left;
    color:#aaa;
    font-size:20;
    margin:0 20 0 0;
    border-bottom:1 solid #aaa;
}
.shelf0{
    float:left;
    font-size:20;
    margin:0 20 0 0;
    color:#aaa; width:28%;
    border-bottom:1 solid #aaa;
}

.drop_table{
	font-size:16;
	margin:0 0 0 0;
	font-weight:500; 
	padding:10 0 0 0;
}

.subtitle{
	color: #aaa;
	font-size: 15;
	padding:0 0 5 0;
	font-family:'Avenir', 'light';
	border-bottom:1px solid #f2f2f2;
}
.subtitle1pt3{
	color:#aaa;
	padding:0 0 5 0;
	margin:20 20 0 0;
	font-family:'Avenir', 'light';
	border-bottom:1px solid #f2f2f2;
}
.theorem{
	color:#aaa;
	font-size:14;
	padding:0 0 0 0;
	vertical-align:top;
	font-family:'Avenir','light';
}
.braille_border{
	font-size:13;
	color:#707B7C;
	margin:10 0 0 0;
	border-collapse:collapse;
	font-family:'SourCecodePro-Regular';
}
.braille_one{
	padding:5 10;
	text-align:center;
	vertical-align:top;
	border:1px solid lightgrey; 
}
.braille_two{
	font-size:13;
	color:#707B7C;
	font-family:'SourCecodePro-Regular';
}
.braille_three{padding:1 0 0 0; float:right}
.braille_four{
	float:right; 
	color:#99B5CD;
	margin:4 0 0 0; 
}
.braille_five{padding:1 0 0 30; float:right}
.braille_six{
	float:right; 
	color:#99B5CD;
	margin:4 0 0 5;
}
.braille_seven{padding:10 0 0 0;}
.braille_eight{
	float:right; 
	color:#99B5CD;
	margin:3 0 0 5;
}
.braille_nine{padding:10 0 0 30; float:right}
.braille_ten{
	color:#99B5CD;
	font-size:16px;
	padding:0 0 0 1;
}
.braille_eleven{
	font-size:16;
	color:#99B5CD;
	padding:0 0 0 35; 
}
.braille_twelve{
	font-size:08;
	color:#99B5CD;
	padding:12 0 0 04;
}
.braille_thirteen{
	font-size:08;
	color:#99B5CD;
	padding:12 0 0 37;
}
.braille_fourteen{
	font-size:8;
	color:#99B5CD;
	padding:17 0 0 02;
}
.braille_fifteen{
	font-size:0;
	color:#99B5CD;
	padding:17 0 0 37;
}
.braille_sixteen{margin:16 0 0 0}
.braille_seventeen{
	font-size:16;
	color:#99B5CD;
	padding:0 0 0 35;
}
.braille_eighteen{
	font-size:16;
	color:#99B5CD;
	padding:13 0 0 02;
}
.braille_nineteen{
	font-size:08;
	color:#99B5CD;
	padding:13 0 0 37;
}
.braille_twenty{margin:10 0 0 0}
.braille_21{
	font-size:08;
	color:#99B5CD;
	padding:2 0 0 04;
}
.braille_22{
	font-size:16;
	color:#99B5CD;
	padding:0 0 0 37;
}
.braille_23{
	font-size:16;
	color:#99B5CD;
	padding:08 0 0 02;
}
.braille_24{
	font-size:16;
	color:#99B5CD;
	padding:8 0 0 37;
}
.braille_25{
	font-size:8;
	color:#99B5CD;
	padding:08 0 0 40;
}
.braille_nn{
	font-size:8;
	color:#99B5CD;
	padding:8 0 0 4;
}
.braille_26{margin:18 0 0 0}
.C1_p11{padding:10 0 5 0; margin:0 0 0 100}
.C1_p17{padding:10 0 0 0; margin:0 0 0 25}
.C1_sec1.3_p07{margin:5 0 5 20; padding:0 0 0 20}
.C1_sec1.3_p08{margin:5 0 5 10; padding:0 0 0 20}
.p24{font-size:16; padding:2 20 0 3}
.dd_menu{
	width:100%; 
	height:20px;
	background:none;
	margin-top:-8px;
	margin-left:-8px;
	padding:5px 1px 5px 15px;
	font-family:'Avenir', 'light'
}
.dd_menue{
	top:-20px; 
	outline:none;
	font-size:13px; 
	position:absolute;
}
.git_div{position:fixed; padding:8 0 0 12}
.fs_eight{font-size:8px}

/* Answer styles */
.vtop_zero{vertical-align:top; padding:0 0 0 0}
.vtop_t2{vertical-align:top; padding:2 0 0 0}
.vtop_t7{vertical-align:top; padding:7 0 0 0}
.vtop_t8{vertical-align:top; padding:8 0 0 0}
.vtop_t9{vertical-align:top; padding:9 0 0 0}
.vtop_t10{vertical-align:top; padding:10 0 0 0}
.vtop_t11{vertical-align:top; padding:11 0 0 0}
.vtop_t12{vertical-align:top; padding:12 0 0 0}
.vtop_t13{vertical-align:top; padding:13 0 0 0}
.vtop_t20{vertical-align:top; padding:20 0 0 0}
.vtop_t1l10{vertical-align:top; padding:1 0 0 10}
.vtop_r20l10{vertical-align:top; padding:0 20 0 10}
.vtop_r20l20{vertical-align:top; padding:0 20 0 20}
.vtop_lfive{vertical-align:top; padding:0 0 0 5}
.vtop_lten{vertical-align:top; padding:0 0 0 10}
.vtop_l20{vertical-align:top; padding:0 0 0 20}
.vtop_l40{vertical-align:top; padding:0 0 0 40}
.vtop_t6_l10{vertical-align:top; padding:6 0 0 10;}
.vtop_t10_l50{vertical-align:top; padding:10 0 0 50;}
.vtop_t6_b10_l10{vertical-align:top; padding:6 0 10 10;}
.vtop_r20-b15-l10{vertical-align:top; padding:0 20 15 10}
.vtop_t20-r20-b10{vertical-align:top; padding:20 20 10 0}
.pt5{padding:5 0 0 0;}
.p_t5_r20{padding:5 20 0 0;}
.p_zero{padding:0 0 0 0;}
.pt10{padding:10 0 0 0;}
.pb10{padding:0 0 10 0;}
.pt_15{padding:15 0 0 0;}
.pt_20{padding:20 0 0 0;}
.pr_20{padding:0 20 0 0;}
.pl_10{padding:0 0 0 10;}
.pl_15{padding:0 0 0 15;}
.pl_20{padding:0 0 0 20;}
.pl_25{padding:0 0 0 25;}
.pl_40{padding:0 0 0 40;}
.p_r20_l20{padding:0 20 0 20;}
.p_r40_l40{padding:0 40 0 40;}
.p120010{padding:1 20 0 10}
.pblm_34{padding:20 20 20 0; width:95%}
.pblm_01{padding:20 20 10 0; width:95%}
.t20_b10{padding:20 0 10 0;}
.r20_b10{padding:0 20 10 0;}
.r10_l20{padding:0 10 0 20;}
.t5_l30{padding:5 0 0 30;}
.t8_b10{padding:08 0 10 0}
.t17_b10{padding:17 0 10 0}
.t5_b5_l30{padding:5 0 5 30;}
.t5_r20_b15{padding:5 20 15 0;}
.pt10_l50{padding:10 0 0 50;}
.t15_r20{padding:15 20 0 0;}
.pt10_r20{padding:10 20 0 0;}
.p_t10_r20_b10{padding:10 20 10 0;}
.t15_r20_b10{padding:15 20 10 0;}
.pt20_r20{padding:20 20 0 0;}
.pt30_r20{padding:30 20 0 0;}
.p_r20b10{padding:0 20 10 0}
.pt20_r20_b10{padding:20 20 10 0;}
.pt20_r20_b15{padding:20 20 15 0;}
.m_zero{margin:0 0 0 0;}
.mar_t5{margin:5 0 0 0;}
.mar_t8{margin:8 0 0 0;}
.mar_t10{margin:10 0 0 0;}
.mar_t15{margin:15 0 0 0;}
.mar_tn2{margin:-2 0 0 0;}
.mar_tn5{margin:-5 0 0 0;}
.mar_t5_b10{margin:5 0 10 0;}
.m_t5_l10{margin:5 0 0 10;}
.mt10_b10{margin:10 0 10 0;}
.mar_t5_r20{margin:5 20 0 0;}

/* Code block */
.int{color:#A383F1;}
.pckgs{color:#8DB9D4}
.func_dec{margin:10 0 0 0; color:#566573}
.func_def{color:#E483F1}
.call_fact{margin:00 0 0 104; color:#566573}
.comment{color:#566573}
.comment_m{margin:0 0 0 0; color:#566573}
.m_l30{padding:0 0 0 30;}
.num{color:#83B2F1}
.m_l31{padding:0 0 0 31;}
.m_l32{padding:0 0 0 32;}
.m_t10_l30{margin:10 0 0 30}
.m_l50{margin:0 0 0 50;}
.m_l70{margin:0 0 0 70;}
.m_l90{margin:0 0 0 90;}
.sigma{margin:00 0 0 104}
.m_l129{margin:0 0 0 129;}
.pf{
	color:#aaa;
	font-size:14;
	vertical-align:top;
	font-family:'Avenir','light'
}
.eqn{
	padding:0 20 0 0;
	vertical-align:top;
	border-right:1px solid lightgrey;
}
.c1s131{vertical-align:center; padding:13 0 0 20}
.c1s132{vertical-align:top; padding:10 0 0 00; color:grey}
.c1s133{vertical-align: top; padding:7 0 0 00; color:grey}
.vc_div{position:fixed; top:3; left:47}
.f_left{float:left}
.f_right{float:right}
.d_table{width:100%; padding:20 0 10 0}
.nav_ind{position:fixed; top:3.5; right:20}
.nav_cursor{cursor:default; font-size:15}